<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>東京の出版社</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h2>東京の出版社</h2>

<div>
    <a href="/maps/chiyoda_tokyo_publisher">千代田区の出版社</a>
</div>

<div>
    <a href="/maps/chuo_tokyo_publisher">中央区の出版社</a>
</div>

<div>
    <a href="/maps/minato_tokyo_publisher">港区の出版社</a>
</div>
</body>
</html>
