<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div
            id="map"
            data-geojson="<%= geojsonPath %>"
            data-cluster="off"
            data-fullscreen-control="on"
    ></div>

    <script type="text/javascript" src="https://cdn.geolonia.com/v1/embed?geolonia-api-key=YOUR-API-KEY"></script>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
